@media (max-width: 1074px) {

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .instructions {
        margin-bottom: 20px;
        border: none;
        box-shadow: none;
        height: 0;
    }

    .words {
        display: none;
    }

    .start {
        margin-bottom: 20px;
    }

    .gameArea {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@media (max-width: 580px) {

    h1 {
        font-size: 45px;
    }
    .instructions {
        min-width: 80vw;
        width: 320px;
    }
    .gameArea {
        min-width: 80vw;    
    }
}