
@media (max-width: 918px) {

    .instructions {
        min-width: 80vw;
        width: 320px;
    }
    .gameArea {
        min-width: 80vw;    
    }

    .background1,
    .background2 {
        display: none;
    }
}

